
/.idea
/examples/numba experiments

/docs/build
.ipynb_checkpoints

.cache
/workspace
/algorithm_reference_library.egg-info/

dask-worker-space
*/notebooks/*_files
*/notebooks/*.rst
*/scripts/*.rst
*.log
*.lock
*.hdf5
*.pyc
/build
*.so
*.egg
/rascil/data_models/.idea
/sourcetree.txt
/docs/api
*/*/notebooks/*_files
*/*/notebooks/*.rst
*/*/scripts/*.rst
/docs/src/examples/notebooks

examples/ska_simulations/mid_simulation.rst

docs/src/examples/ska_simulations/mid_simulation.rst

dist/

noarch/

rascil.egg-info/

examples/random/

tests/workflows/voltage_pattern_gaintable.png

*.img

docs/src/api/

test_results/

venv/

.astropy/

.config/

.matplotlib/

coverage/

rtd-docs/build/

examples/*/*.fits


docs/src/examples/scripts/imaging.rst

docs/src/examples/scripts/dprepb_rsexecute_pipeline.rst

docs/src/examples/scripts/imaging_sim2.rst

docs/src/examples/scripts/primary_beam_zernikes.rst

examples/scripts/random_zernikes.png

examples/scripts/dprepb_rsexecute_pipeline.txt

examples/scripts/imaging.txt

examples/scripts/imaging_sim2.txt

examples/scripts/primary_beam_zernikes.txt

test_results_master/

.run/

*.html

tests/workflows/gaintable.png

examples/mcve/xarray/mydask.png
