#sphinx related packages
sphinx
sphinx-argparse
sphinx-rtd-theme
sphinx-automodapi

# Additional packages needed to be installed
# so that the docs can render the API correctly
# without the need of mocking every single import
numpy
astropy
pandas
xarray
h5py